#chromeextensionpopup{
    display: inline-table;
    background: white;
    border: solid 1px #bbbbbb;
    line-height: normal;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    max-height: 350px !important;
    overflow: auto;
    z-index: 999999999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 1px #888888;
    padding: 5px 5px 5px 5px;
    color: black;
}

#chromeextensionpopupcloselink{
    float:right;
    background: white;
    color: black;
    cursor: pointer;
    height: 25px;
    text-align: center;
    width: 25px;
    position: relative;
    font-size: 22px !important;
    font-family: Arial, Georgia, Cambria, "Times New Roman", Times,serif !important;

}

#chrometranslatingtablegroup {
  font-size: 16px;
  font-family: Arial, Georgia, Cambria, "Times New Roman", Times,serif !important;
  max-width: 550px !important;
  min-width: 200px !important;
  overflow-y: scroll;
}

#ctTtsTRanslate.ct-chin-text-speciale {
  font-size: 24px !important;
  color: blue !important;
}

#chrometranslatingtablegroup.spk-id {
  height: 18px !important;
  width: 18px !important;
  min-width: 24px !important;
  min-width: 30px !important;
}

#chrometranslatingtablegroup tr:nth-of-type(even) {
    background: #f8f8f7;
}

#chrometranslatingtablegroup table {
    padding: .5625em .625em !important;
    font-size: inherit;
}
#chrometranslatingtablegroup tr {
    padding: .5625em .625em !important;
    font-size: inherit;
}
#chrometranslatingtablegroup td {
    padding: .5625em .625em !important;
    font-size: inherit;
}
#chrometranslatingtablegroup table {
    background: #fff;
    border: solid 1px #dedede;
}
#chrometranslatingtbody {
  display: block;
  max-height: 350px;
  overflow-y: scroll;
}

#displaytextstyle {
  float:left;
  max-width: 400px !important;
  min-width: 200px !important;
  word-wrap: break-word;
  overflow: auto;
  position: relative;

}

#chrometranslatingtbody::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#chrometranslatingtbody::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#chrometranslatingtbody::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c1c1c1;
}
