#chromeextensionpopup{
    display: inline-table;
    background: white;
    border: solid 1px #bbbbbb;
    line-height: normal;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    max-height: 450px;
    overflow: auto;
    z-index: 999999999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 1px #888888;
    padding: 5px 5px 5px 5px;
    color: black;
}

#chromeextensionpopupcloselink{
    float:right;
    background: white;
    color: black;
    cursor: pointer;
    height: 25px;
    text-align: center;
    width: 25px;
    position: relative;
    font-size: 22px !important;
    font-family: Arial, Georgia, Cambria, "Times New Roman", Times,serif !important;

}

#chrometranslatingtablegroup {
  font-size: 16px;
  font-family: Arial, Georgia, Cambria, "Times New Roman", Times,serif !important;
  max-width: 550px !important;
  min-width: 200px !important;
}

.ct-chin-text-speciale {
  font-size: 24px !important;
  color: blue;
}

#displaytextstyle {
  float:left;
  max-width: 400px !important;
  min-width: 200px !important;
  word-wrap: break-word;
  overflow: auto;
  position: relative;

}
